html,body {
    height: 100%;
    font-family: Helvetica, Arial;
    transition: color 0.3s;
}

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --color-header: rgb(33, 37, 41);
    --color-button: rgb(33, 37, 41);
    --color-body: #FFF;
    --color-body-card: #FFF;
    --color-label: rgb(33, 37, 41);
    --color-main: #FFF;
}

#mode:checked ~ .wrapper {
    --color-header: rgb(187,187,187);
    --color-button: #f8f9fa;
    --color-body: rgb(43,43,43);
    --color-body-card: rgb(50,50,49);
    --color-label: #ccc;
    --color-main: rgb(59,63,65);
}

#mode {
    bottom: 20px;
    right: 20px;
    position: absolute;
}

// .btn {
//     background-color: var(--color-button);
// }

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: var(--color-main);
}

.container, .card {
    margin: auto;
    width: 450px;
}

.card-body {
    display: grid;
    background-color: var(--color-body);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr,1fr,1fr,1fr,1fr;
}

.card-header, .card-footer {
    color: var(--color-header);
}

.card {
    background-color: var(--color-body-card);
}

.label-problems {
    font-size: 3em;
    grid-row-start: 1;
    grid-row-end: 4;
    font-weight: bold;
    color: var(--color-label);
}

.button-box {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-problems {
    grid-column: 2;

    &__label {
        grid-row: 1;
        color: var(--color-label);
    }

    &__errors {
        grid-row: 2;
        color: DarkRed;
    }

    &__warnings {
        grid-row: 3;
        color: DarkGoldenRod;
    }
}

.fixible-problems {
    grid-column: 1;

    &__label {
        grid-row: 4;
        color: var(--color-label);
    }

    &__errors {
        grid-row: 5;
        color: DarkRed;
    }

    &__warnings {
        grid-row: 6;
        color: DarkGoldenRod;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --color-header: rgb(187,187,187);
        --color-button: #f8f9fa;
        --color-body: rgb(43,43,43);
        --color-body-card: rgb(50,50,49);
        --color-label: #ccc;
        --color-main: rgb(59,63,65);
    }

    #mode:checked ~ .wrapper {
        --color-header: rgb(33, 37, 41);
        --color-button: rgb(33, 37, 41);
        --color-body: #FFF;
        --color-body-card: #FFF;
        --color-label: rgb(33, 37, 41);
        --color-main: #FFF;
    }
}
